<div >
<p style="text-align: center; color: rgb(20, 172, 192); font-size: 60px"><b>Profile Search</b></p>
<div class="input-group" id ="mid" >
  <span class="input-group-btn">
    <button class="btn btn-default" type="button" style="color: rgb(20, 172, 192)"><span class="glyphicon glyphicon-search" ></span></button>
  </span>
  <input type="text" class="form-control" placeholder="Search for...">
  <span class="input-group-btn">
    <button class="btn btn-default" type="button" style="color: rgb(20, 172, 192)">
      <a  class="glyphicon glyphicon-user" routerLink = "/profiles"></a>
    </button>
  </span>
</div>    </div>